<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-12" style="padding: 20%; padding-top: 20px; padding-bottom: 20px;">
		<div class="col-12">
			<h1>Edit Question</h1>
		</div>
		<%= render 'form', question: @question, negative: {"result"=>"1" } %>
	</div>
</div>