<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-12" style="padding: 20%; padding-top: 20px; padding-bottom: 20px;">
		<div class="col-12">
			<h1>New Assessment</h1>
		</div>
		<%= render 'form', assessment: @assessment %>
	</div>
</div>
