<div class="row" style="width: 100%; padding: 30px;">
	<div class="col-2"></div>
	<div class="col-8" style="text-align: center;">
		<h1>Contact</h1>
		<h5>If you have any questions of feedback please don't hesitate to contact us via the details below, or just visit us at our office during oppening hours.</h5>
				<br>
				<div class="card">
					<div class="card-header">
						Contact Details
					</div>
					<div class="card-body">
						<p>5 Watson St, <br>
						Aberdeen <br>
						AB25 2QB<br>
						01632 960861<br>
						fp.test.creator@gmail.com<br>
						M-F 9:00-17:00 <br>
						<small>*address and phone number are fictive</small>
						</p>
					</div>
				</div>
	</div>
	<div class="col-2"></div>
</div>
