<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-2"></div>
	<div class="col-8" style="text-align: center;">
		<h1>FAQ</h1>
		<h6> If you encounter any problem in using our tool please refer to the examples below. If nothing here helps you please contact us via email.</h6><br>
		<div id="accordion">
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Create an assessment
						</button>
					</h5>
				</div>
				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<p>The creation of assessments is available for registered users only, if you are not registered yet feel free to create a new account.</p>
						<p>Once logged in press on the Assessments button from the menu, this is the place where all your assessments are shown. Click on Add Assessment and fill out the form with the details of the new assessment. Once everything is filled out, click on Create Assessment and if there are no errors you will be redirected to the assessments page where you can edit, view or delete your assessment by clicking on <i class="fas fa-pencil-alt"></i>, <i class="far fa-eye"></i> or <i class="fas fa-trash"></i> respectively.</p>  
						<div class="embed-responsive embed-responsive-16by9" style= "padding-left:20%; padding-right:20%">
						 <iframe style= "padding-left:20%; padding-right:20%" class="embed-responsive-item" src="https://www.youtube.com/embed/1cIDsvO-Yd0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Create a question
						</button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						<p>The creation of questionss is available for registered users only, if you are not registered yet feel free to create a new account.</p>
						<p>Once logged in press on the Assessments button from the menu. Select the Assessment you want to add the new question to and press on the corresponding <i class="far fa-eye"></i> icon. This is the place where all the questions and submissions linked to an assessment are shown. Click on Add Question and fill out the form with the details of the new question. Once everything is filled out, click on Create Question and if there are no errors you will be redirected to the view assessments page where you can edit, view or delete your new question by clicking on <i class="fas fa-pencil-alt"></i>, <i class="far fa-eye"></i> or <i class="fas fa-trash"></i> respectively.</p>
						<div class="embed-responsive embed-responsive-16by9" style= "padding-left:20%; padding-right:20%">
						 <iframe style= "padding-left:20%; padding-right:20%" class="embed-responsive-item" src="https://www.youtube.com/embed/HCJpIp9DE-I?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Submitting an attempt
						</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">
						<p>In order to access an assessment submission page you will have to follow the web address supplied by your educator. If the assessment is available, read all the assessment information carefully, fill out your identification details and press Start. Once the assessment is started it is important to not leave the page without submitting the assessment, failure to do so will result in your responses not being recorded. You can submit your attempt by pressing Submit or by waiting until the time is over and the submission is recorded automatically.</p>
						<div class="embed-responsive embed-responsive-16by9" style= "padding-left:20%; padding-right:20%">
						 <iframe style= "padding-left:20%; padding-right:20%" class="embed-responsive-item" src="https://www.youtube.com/embed/hmL30ONlnw4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" id="headingFour">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							Send further feedback
						</button>
					</h5>
				</div>
				<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
					<div class="card-body">
						<p>Sending further feedback is available for registered users only, if you are not registered yet feel free to create a new account.</p>
						<p>Once logged in press on the Assessments button from the menu. Select the Assessment for which the submission was made and press on the corresponding <i class="far fa-eye"></i> icon. Select the Submission you want to offer further feedback for and press on the corresponding <i class="far fa-eye"></i> icon. Review the submission and enter your feedback in the text box located at the bottom of the page. Click on Send feedback and an email with your feedback is automatically sent to the email address used as identification for that particular submission.</p>
						<div class="embed-responsive embed-responsive-16by9" style= "padding-left:20%; padding-right:20%">
						 <iframe style= "padding-left:20%; padding-right:20%" class="embed-responsive-item" src="https://www.youtube.com/embed/eKJ3_8q515U?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>
