<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-6" style="text-align: center;">
		<h1>Test creation tool</h1>
		<p align="left">
		You can find us at our Aberdeen office, ring us or just pop us an email.<br><br>
		5 Watson St, <br>
		Aberdeen <br>
		AB25 2QB<br>
		01632 960861<br>
		contact@testtool.com<br>
		</p>
		
	</div>
</div>
