<div class="row" style="width: 100%; padding: 30px;">
	<div class="col-1"></div>
	<div class="col-10">
		<div class="row">
			<div class="col-12" style="text-align: center;">
				<h1>Welcome to test creator!</h1>
				<br>
				<h4>The asssessment management tool created for educators with educator needs in mind.</h4>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-6" style="text-align: center;">
				<div class="card">
					<div class="card-header">
						Motivation
					</div>
					<div class="card-body">
						<p>Given the current global situation the demand for online assessment tool that satisfies educator needs has increased drastically. Developers do not always have full understanding of their target users resulted from a lack of interest or just tight deadlines imposed. For the creation of this tool we have taken the time to survey both educators and students about their experience with online assessment methods. These results helped us develop a tool with assessment features comparable to consecrated systems like Moodle or Blackboard but as a less overwhelming package.</p>
					</div>
				</div>
				<br>
				<div class="card">
					<div class="card-header">
						Disclaimer
					</div>
					<div class="card-body">
						<p>This tool has been created as a Single Honours Computing Project from the University of Aberdeen, UK in 2021. It is not a fully released system and should not be used for real assessments in it s current form. Feel free to create an account and test the tool. If you have any feedback don't hesitate to contact us via the email address from the contact section.</p>
					</div>
				</div>
			</div>
			<div class="col-6" style="text-align: center;">
				<div class="card">
					<div class="card-header">
						Demo
					</div>
					<div class="card-body">
						insert demo video here
					</div>
				</div>
				<br>
				<div class="card">
					<div class="card-header">
						GitHub Repository
					</div>
					<div class="card-body">
						<p>This tool has been developed using GitHub for version control. Check the full history of the tool's development <a href="https://github.com/Loghin85/TestCreator">here</a>. Feel free to report any issue regardiung the system.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-1"></div>
</div>
