<div class="row" style="width: 100%; padding: 10px; padding-top: 50px; text-align: center;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h1>You have already submitted this assessment</h1>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px; text-align: center;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<p>If this is not correct please contact the assessment creator.<br>
		Thank you for using Test Creator.</p>
	</div>
	<div class="col-1">
	</div>
</div>