<div class="row" style="width: 100%; padding: 10px; padding-top: 50px; text-align: center;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<h1>Your submission has been received</h1>
	</div>
	<div class="col-1">
	</div>
</div>
<div class="row" style="width: 100%; padding: 10px; text-align: center;">
	<div class="col-1">
	</div>
	<div class="col-10">
		<p>Please check your email to see the assessment results.<br>
		If there is any problem please contact the assessment creator.<br>
		Thank you for using Test Creator.</p>
	</div>
	<div class="col-1">
	</div>
</div>